@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .intro h1:before {
        /* Edit this with your name or anything else */
        content: 'Azimzada';
        font-size: 200px !important;
        color: #333333cf !important;
    }
</style>
<!-- Introduction -->
<div class="intro section" id="about">
    <div class="container">
        <p>Hi, I’m Mahammad Azimzada</p>
        <div class="units-row units-split wrap">
            <div class="unit-20">
                <img src="/img/Mehemmed-Ezimzadejpg.jpg" alt="Mehemmed Ezimzade , azimzada.com">
            </div>
            <div class="unit-80">
                <h1 class="text-secondary">
                    I am busy
                    <br>
                    <span id="typed"></span>
                </h1>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam magni eligendi consectetur itaque
                veritatis eum facere atque accusantium animi! Eius.
            </p>
        </div>
    </div>
</div>
<!--  -->
<hr>
<!--  -->
<!-- Work Experience -->
<div class="work section second" id="experiences">
    <div class="container">
        <h1>
            Work<br>Experiences
            <i class="fa-solid fa-globe"></i>
            && Demos<i class="fa-solid fa-laptop"></i>
        </h1>
        @foreach (var work in Model.Works)
        {
            <ul class="work-list">
                <li>
                    @work.StartingDate.ToString("yyyy")
                    @{
                        string dateString = @work.EndingDate?.ToString("yyyy") ?? "";
                    }
                </li>
                <li>
                    <a href="@work.Url" target="_blank"> @work.Name </a>
                </li>
                <li>@work.Description</li>
            </ul>
        }
        @foreach (var demos in Model.Demos)
        {
            <ul class="work-list">
                <li>
                    @demos.StartingDate.ToString("yyyy")
                    @{
                        string dateString = @demos.EndingDate?.ToString("yyyy") ?? "";
                    }
                </li>
                <li>
                    <a href="@demos.Url" target="_blank"> @demos.Name </a>
                </li>
                <li>@demos.Description</li>
            </ul>
        }
    </div>
</div>
<hr>
<!-- Award & Achievements -->
<div class="award section second" id="achievements">
    <div class="container">
        <h1>Award &amp;<br>Achievements</h1>
        @foreach (var skillis in Model.awards)
        {
            <ul class="award-list list-flat">
                <li>@skillis.DateTime.ToString("dd.MM.yyyy")</li>
                <li>@skillis.Title</li>
                <li>
                    <a href="@skillis.Url" target="_blank" class="text-white m-sm-1">
                        @skillis.Description
                    </a>
                </li>
                <li>
                    <a href="@skillis.PhotoUrl" target="_blank">
                        <button type="button" class="btn btn-secondary" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                            </svg>
                            enter
                        </button>
                    </a>
                </li>
            </ul>
        }
    </div>
</div>
<hr>
<!-- Technical Skills -->
<div class="skills section second" id="skills">
    <div class="container">
        <h1>Technical<br>Skills</h1>
        <div class="accordion accordion-flush bg-dark" id="accordionFlushExample">
            <div class="accordion-item bg-dark text-secondary" >
                <h2 class="accordion-header bg-dark" id="flush-headingOne">
                    <button class="accordion-button collapsed bg-dark text-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                        the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Quote -->
<div class="quote kenburns-left">
    <div class="container text-centered">
        <h1 style="color: rgb(21, 12, 0);">
            <span class="text-flicker-in-glow ">
                Fight for equality!
            </span> <i class="fa-solid fa-dove"></i>
        </h1>
    </div>
</div>